
main{

    padding: 3%;
    

 img {
    width: 50px;
    height: 50px;
    margin-left: 40%;
    margin-top: 10%;
    
    
 }
    .container {
        max-width: 1200px;
        display:flex;  
        flex-wrap: wrap;
        gap: 1%;

      
      .square1 {

        background-color: rgb(217, 16, 16);
        width: 270px;
        height: 120px;
        margin-bottom: 1%;
      }

      .square2 {
        background-color: orangered;
        width: 270px;
        height: 120px;
        margin-bottom: 1%;
        
      }

      .square3 {
        background-color: yellow;
        width: 270px;
        height: 120px;
        margin-bottom: 1%;

      }

      .square4 {
        background-color: green;
        width: 270px;
        height: 120px;
        margin-bottom: 1%;

      }
    }

      .square5 {
        background-color: blue;
        width: 270px;
        height: 120px;
        margin-bottom: 1%;
     
      }

      .square6 {
        background-color: rgb(55, 29, 201);
        width: 270px;
        height: 120px;
        margin-bottom: 1%;

      }

      .square7 {
        background-color: blueviolet;
        width: 270px;
        height: 120px;
        margin-bottom: 1%;

      }

      .square8 {
        background-color: rgb(234, 8, 155);
        width: 270px;
        height: 120px;
        margin-bottom: 1%;

      }
    }
      .square9 {
        background-color: rgb(234, 8, 155);
        width: 270px;
        height: 120px;
        margin-bottom: 1%;

      }

      .square10 {
        background-color: rgb(31, 175, 60);
        width: 270px;
        height: 120px;
        margin-bottom: 1%;

      }

      .square11 {
        background-color:rgb(8, 234, 174);
        width: 270px;
        height: 120px;
      
      }

      .square12 {
        background-color: rgb(234, 215, 8);
        width: 270px;
        height: 120px;
      }
    
      .square13 {
        background-color: rgb(149, 12, 194);
        width: 270px;
        height: 120px;
      }
      .square14 {
        background-color: rgb(46, 91, 197);
        width: 270px;
        height: 120px;
      }

